<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">J-Hook Vanes Calculations Results</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">

      <dt>Length</dt>
      <dd><%= @jhook_length %> units?</dd>

      <dt>Gap Volume</dt>
      <dd><%= @jhook_gap_volume %> units?</dd>

      <dt>Total Volume</dt>
      <dd><%= @jhook_total_volume %> units?</dd>


    </dl>
  </div>
</div>