<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to EQR's estimation calculator</h3>
  </div>
  <div class="panel-body">
    Use the navigation panel to select the type of calculation you need to perform.
  </div>
</div>